
@import './css/flaticon.css';

table{
    td,th{
        padding: 10px;
    }
    img{
        width: 100px;
    }
}
select {
    font-family: 'FontAwesome', 'Second Font name';
    font-weight: 90;
}