@import './css/flaticon.css';

.main-sidebar {
    background-color: #6a23b5 !important;
}

.card-header{
    color: white;
    background-color: #6a23b5 !important
}
.btn-primary{
    background-color: #2be6ab !important
}
.btn-warning{
    color: #777777;
}
table {

    td,
    th {
        padding: 10px;
    }

    img {
        width: 100px;
    }
}

select {
    font-family: 'FontAwesome', 'Second Font name';
    font-weight: 90;
}
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
	background-color: rgba(255,255,255,.9);
	color: #6a23b5;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: white;
	color: #6a23b5;
}